html, body {
	width: 100%;
	height: 100%;
	background-color: #DDD;
}
body {
	width: 900px;
	margin: 0 auto;
}

.fl {float: left}
.fr {float: right}
.mt20 {margin-top: 20px;}
.mt30 {margin-top: 30px;}
.mb20 {margin-bottom: 20px;}
.mr80 {margin-right: 80px;}
.ml20 {margin-left: 20px;}
.fs16 {font-size:16px;}
.fs12 {font-size:12px;}
.tac {text-align: center;}
.ml5 {margin-left: 5px;}
.vam {vertical-align: middle;}
.pa {position: absolute;}
.pr {position: relative;*zoom:1;}
.tsn {text-shadow: none;}
.logo {
	font: 60px 'Cooper Black', 'Microsoft Yahei', serif;
	text-shadow: 2px 2px 3px rgba(0,0,0,.3);
}
.logo a {
	text-decoration: none;
}
.CK {
	color: #df482b;
}
.style {
	color: #20b7d4;
}
.fork-mask {
	float: left;
	margin-left: -37px;
	margin-top: -7px;
}

.menu li {
	float: left;
}
.menu li a {
	padding: 10px;
	color: #888;
}
.block {
	font-size: 16px;
	text-align: center;
	padding: 10px;
	line-height: 30px;
	font-family: 'Microsoft Yahei',tahoma,serif;
	background-color: #EEE;
	border-radius: 5px;
	box-shadow: 1px 1px 2px #888;
	margin-bottom: 30px;
	text-shadow: 2px 2px 1px #FFF;
}
.block strong {
	color: #df482b;
}
.expand {
	padding-left: 30px;
	padding-right: 30px;
	font-size: 20px;
}
.editor-container {
	margin-bottom: 10px;
}
#editor {
	width: 99%;
	height: 300px;
}
.footer {
	margin-top: 20px;
	padding: 20px;
	text-align: center;
	color: #888;
	border-top: 1px solid #EEE;
}
.options {
	margin-top: 20px;
}
.options li {
	float: left;
	width: 220px;
	margin: 2px;
	background-color: #EEE;
	box-shadow: 1px 1px 1px rgba(0,0,0,.2);
	border-radius: 5px;
}
.options .checkbox {
	margin-bottom: 0;
	padding: 10px;
	padding-left: 34px;
}

.CodeMirror {
	font-size: 14px;
	height: 400px;
}
.CodeMirror-lines {
	font-family: 'Microsoft Yahei',tahoma,serif;
	line-height: 20px;
}

.tip {
	position: absolute;
	right: 0;
	top: 0;
}

#select-all-item {
	position:absolute;
	right:-80px;
	top:0;
	width:70px;
}

.result {
	background-color: #EEE;
	border-radius: 5px;
	padding: 5px;
	font-family: 'Microsoft Yahei',tahoma,serif;
	margin-bottom: 20px;
}

.result .title {
	border-bottom: 1px solid #FFF;
	margin: 0;
	padding-left: 5px;
	font-size: 20px;
	color: #df482b;
	text-shadow: 2px 2px 3px rgba(0,0,0,.4);
	position: relative;
	text-transform: uppercase;
	text-decoration: underline;
}

.result .title .name {
}
.result .title .close {
	margin-right: 10px;
	margin-top: 8px;
	font-size: 26px;
}
.result .content {
	border-top: 1px solid #DDD;
	padding: 5px;
}

.stumb {
	margin-left: 80px;
}