html, body {
	width: 100%;
	height: 100%;
	background-color: #DDD;
}
body {
	width: 900px;
	margin: 0 auto;
}

.fl {float: left}
.fr {float: right}
.mt10 {margin-top: 10px;}
.mr10 {margin-right: 10px;}
.mt20 {margin-top: 20px;}
.mt30 {margin-top: 30px;}
.mb20 {margin-bottom: 20px;}
.mr80 {margin-right: 80px;}
.mr3 {margin-right: 3px;}
.ml20 {margin-left: 20px;}
.fs16 {font-size:16px;}
.fs14 {font-size:14px;}
.fs12 {font-size:12px;}
.fwb {font-weight: bold;}
.fsi {font-style: italic;}
.tac {text-align: center;}
.ml5 {margin-left: 5px;}
.ml7 {margin-left: 7px;}
.mt5 {margin-top: 5px;}
.mt4 {margin-top: 4px;}
.mr5 {margin-right: 5px;}
.vam {vertical-align: middle;}
.pa {position: absolute;}
.pr {position: relative;*zoom:1;}
.tsn {text-shadow: none;}
.tac {text-align: center;}
.tal {text-align: left;}
.p10 {padding: 10px;}
.ts {
	text-shadow: 1px 1px 1px rgab(0,0,0,.4);
}
.logo {
	font: 60px 'Cooper Black', 'Microsoft Yahei', serif;
	text-shadow: 2px 2px 3px rgba(0,0,0,.3);
}
.logo a {
	text-decoration: none;
}
.ver {
	font-family: Calibri, 'Bauhaus 93', serif;
	font-size: 36px;
	font-style: italic;
	font-weight: bold;
	margin-top: 10px;
	margin-left: 5px;
	color: #bbb;
	text-shadow: 1px 1px 2px rgba(255,255,255,.9);
}
.CK {
	color: #df482b;
}
.style {
	color: #20b7d4;
}
.fork-mask {
	float: left;
	margin-left: -37px;
	margin-top: -7px;
}

.menu li {
	float: left;
}
.menu li a {
	padding: 10px;
	color: #888;
}
.menu .current {
	background-color: #EEE;
	border-radius: 5px;
	box-shadow: 1px 1px 3px rgba(0,0,0,.3);
}
.block {
	font-size: 16px;
	padding: 10px;
	line-height: 30px;
	font-family: 'Microsoft Yahei',tahoma,serif;
	background-color: #EEE;
	border-radius: 5px;
	box-shadow: 1px 1px 2px #888;
	margin-bottom: 30px;
	text-shadow: 2px 2px 1px #FFF;
}
.block strong {
	color: #df482b;
}

.expand {
	padding-left: 30px;
	padding-right: 30px;
	font-size: 20px;
}
.editor-container {
	margin-bottom: 10px;
}
#editor {
	width: 99%;
	height: 390px;
}
.footer {
	margin-top: 20px;
	padding: 20px;
	text-align: center;
	color: #888;
	border-top: 1px solid #EEE;
}
.options {
	margin-top: 20px;
}
.options li {
	float: left;
	width: 220px;
	margin: 2px;
	background-color: #EEE;
	box-shadow: 1px 1px 1px rgba(0,0,0,.2);
	border-radius: 5px;
}
.options .option-error {
	color: #bd362f;
}
.options .option-warning {
	color: #c09853;
}
.options .option-log {
	color: #999;
}
.options .checkbox {
	margin-bottom: 0;
	padding: 10px;
	padding-left: 34px;
}

.CodeMirror {
	font-size: 14px;
	height: 400px;
}
.CodeMirror-lines {
	font-family: 'Microsoft Yahei',tahoma,serif;
	line-height: 20px;
}

.tip {
	position: absolute;
	right: 0;
	top: 0;
}

#option-tools {
	position:absolute;
	right:-80px;
	top:0;
	width:70px;
}
.result {
	background-color: #EEE;
	border-radius: 5px;
	padding: 5px;
	font-family: 'Microsoft Yahei',tahoma,serif;
	margin-bottom: 20px;
}

.result .title {
	border-bottom: 1px solid #FFF;
	margin: 0;
	padding-left: 5px;
	font-size: 20px;
	color: #df482b;
	text-shadow: 2px 2px 3px rgba(0,0,0,.4);
	position: relative;
	text-transform: uppercase;
	text-decoration: underline;
}
.result .relax {
	color: #444;
	text-transform: none;
	text-decoration: none;
	text-shadow: none;
	font-size: 18px;
}
.result .title .name {
}
.result .title .close {
	margin-right: 10px;
	margin-top: 8px;
	font-size: 26px;
}
.result .download {
	float: right;
	margin-right: -80px;
	margin-top: 47px;
	background-color: #EEE;
	border-radius: 3px;
	box-shadow: 1px 1px 1px rgba(0,0,0,.2);
}
.result .download.extra {
	margin-top: 158px;
}
.result .content {
	border-top: 1px solid #DDD;
	padding: 5px;
}
.result .content .large li {
	padding: 5px;
}
.result .content .large {
	font-size: 16px;
}
.stumb {
	margin-left: 80px;
}